/* Game Control Elements */
.slider-container {
  height: 1vh;
  background-color: var(--dark-green);
  border-radius: 5px;
  margin: 2vh 0;
  position: relative;
  flex-shrink: 0;
  border: var(--light-green) 3px solid;
}

.slider-handle {
  width: 30px;
  height: 30px;
  background-color: var(--light-green);
  border: 3px solid var(--dark-green);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}