/* Guess Page Layout */
body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-green);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer-bar {
    background-color: var(--ad-green);
    height: 15vh;
    margin-top: auto;
    width: 100%;
}

.guessBox {
    position: absolute;
    left: 2vw;
    bottom: 22vh;
    width: 66vw;
    height: 66vh;
    border: 1px solid var(--light-green);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.guessBox img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}