/* Map Container */
.mapBox {
  position: absolute;
  right: 2vw;
  bottom: 175px;
  background: var(--dark-green);
  padding: 1vh;
  border-radius: 1.75vh;
  width: 25vw;
  height: 35vh;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  border: var(--light-green) 3px solid;
  z-index: 100;
}

.mapBox:hover {
  width: 50vw;
  height: 70vh;
  right: 2vw;
  bottom: 175px;
}

#map {
  height: 100%;
  width: 100%;
  border-radius: 1vh;
  background-color: #215c63;
}
/* Game Control Elements */
.slider-container {
  height: 1.25vh;
  background-color: var(--dark-green);
  border-radius: 10px;
  margin-top: 0.5vh;
  margin-bottom: 0.25vh;
  position: relative;
  flex-shrink: 0;
  border: var(--light-green) 3px solid;
}

.slider-handle {
  width: 45px;
  height: 45px;
  background-color: var(--light-green);
  border: 3px solid var(--dark-green);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 500;
}

/* Year Display */
.year-display {
  color: var(--light-green);
  font-weight: bold;
  font-size: 2.5vh;
  text-align: center;
  flex-shrink: 0;
  margin-bottom: 0.25vh;
}

/* Make Guess Button */
.makeGuess-button {
  height: 2vh;
  background-color: var(--light-green);
  border: var(--light-green) 3px solid;
  border-radius: 10px;
  flex-shrink: 0;
  cursor: pointer;
  color: var(--dark-green);
  font-weight: bold;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.2s ease-in-out;
  font-size: 1.75vh;
}