@import url("./indexStyles.css");
@import url("./guessStyles.css");
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

:root {
  --dark-green: #112211;
  --dark-green-hover: #0d1a0d;
  --ad-green: #223322;
  --light-green: #99EE99;
  --light-green-hover: #7ac47a;
  --font-family: 'Cinzel', serif;
  }