@import url("./indexStyles.css");
@import url("./guessStyles.css");

:root {
  /* Green Palette */
  --dark-green: #112211;
  --advertisement-green: #223322;
  --light-green: #99EE99;
  --light-green-hover: #88da88;
  }